// ==========
ul{
    padding-left: 0px;
}
ul>li{
    list-style: none;
}

// ==========

body{
    margin: 0px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}
.first_menu{
    background: black;
}
.first_menu_black{
    display: flex;
    .first_menu_right,
    .first_menu_left{
        width: 100%;
        ul{
            display: flex;
        }
        ul>li{
            color: white;
            margin-right: 25px;
        }
        
    }
    .first_menu_right > ul{
        justify-content: flex-end;
    }
    
}
ul{
    &:hover{
        .catalog{
            display: block !important;
        }
    }
}
// =====second menu=======
.second_menu > .container{
    display: flex;
    // justify-content: space-between;
    .second_menu_right ul,
    .second_menu_left > .second_menu_list > ul{
        display: flex;
        li{
            margin-right: 35px;
            &:hover{
                border-bottom: 3px solid green;
                .second_menu .catalog{
                    background: red;
                }
            }
        }
    }
    
}
.second_menu_right > ul{
    justify-content: flex-end;
}
.second_menu_right,
.second_menu_left{
    flex-basis:40%;
}

.second_menu_logo{
flex-basis:20%;
text-align: center;
}
.second_menu_logo{
    justify-content: center;
}
.second_menu{
    background: white;
    // border-bottom: 1px solid gray;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.3);
}

// =====second menu=======


// =======catalog_menu========


.catalog{
    border: 1px solid gray;
    background: white;
    // display: none;
    // width: 100%;
    // margin: 0 auto;
}

.catalog_in{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.catalog_thumb{
    justify-content: flex-end;
    display: flex;
    .thumb{
        margin-left: 20px;
    }
}
// =======catalog_menu========

