header
    .header
        .first_menu
            .container
                .first_menu_black
                    nav.first_menu_left
                        ul
                            li menu 1
                            li menu 1
                            li menu 1
                            li menu 1
                            li menu 1
                            li menu 1
                    .first_menu_right
                        ul
                            li +380954576765
                            li flagman@gmail.com
                            li About us
                            li Contacts
        .second_menu
            .container
                .second_menu_left
                    nav.second_menu_list
                        ul
                            li MENU
                            li MENU
                            li MENU
                            li MENU
                .second_menu_logo
                    p LOGO
                .second_menu_right
                    ul
                        li USER
                        li USER
                        li USER
            .catalog
                .container
                    .catalog_in
                        .catalog_list
                            ul
                                li List menu number 11
                                li List menu number 1
                                li List menu number 1
                                li List menu number 1
                                li List menu number 1
                        .catalog_thumb
                            .thumb
                                img(src="../img/storage.jpg", alt="")
                                .title_thumb My title thumb
                                .price_thumb 235$
                            .thumb
                                img(src="../img/storage.jpg", alt="")
                                .title_thumb My title thumb
                                .price_thumb 235$
                            .thumb
                                img(src="../img/storage.jpg", alt="")
                                .title_thumb My title thumb
                                .price_thumb 235$
                            .thumb
                                img(src="../img/storage.jpg", alt="")
                                .title_thumb My title thumb
                                .price_thumb 235$
                            .thumb
                                img(src="../img/storage.jpg", alt="")
                                .title_thumb My title thumb
                                .price_thumb 235$
                            .thumb
                                img(src="../img/storage.jpg", alt="")
                                .title_thumb My title thumb
                                .price_thumb 235$